<div>
    <h3>Scientific Benchmarking</h3>
    <p>
        Scientific benchmarking helps determine the precision, recall and other
        metrics of bioinformatics resources in unbiased scenarios, which have
        been set up through reference databases, ad-hoc input and test data sets
        reflecting specifying scientific challenges. Chosen metrics allow us to
        objectively evaluate the relative scientific performance of the
        different participating resources. It is even possible to understand
        what are the software potential biases, strengths and weaknesses and/or
        under which conditions do they perform better or worse.
    </p>
</div>