<div>
    <h3>Technical Monitoring</h3>
    <p>
        OpenEBench, holds a specific infrastructure to monitor software quality.
        In an initial analysis phase BSC has put together a series of quality
        metrics taken from a number of sources. The source of such metrics
        includes documents by the Software Sustainability Institute,
        recommendations for open source software development, or for software
        quality metrics. For each metric, a specific source of information have
        been chosen and the necessary interface implemented.
    </p>
</div>